@charset "UTF-8";

:root {
  --tinted-bg-color: #f6f6f6;
  --main-fg-color: #2f0078;
  --lighter-fg-color: #7c719b;
}

@page {
  margin: 2cm;

  @bottom-left {
    color: var(--main-fg-color);
    font-family: Inter, DejaVu Sans;
    content: 'DJO Amersfoort';
  }
  @bottom-right {
    color: var(--lighter-fg-color);
    content: 'info@djoamersfoort.nl | Tel. (06) 13 68 95 50 | www.djoamersfoort.nl';
    font-family: Inter, DejaVu Sans;
    font-size: 9pt;
  }
}

html {
  color: var(--main-fg-color);
  font-family: Inter, DejaVu Sans;
  font-size: 11pt;
  line-height: 1.6;
}

html body {
  margin: 0; 
}

html img#logo {
  width: 260px;
  margin: 0;
}

html h1 {
  color: var(--main-fg-color);
  font-family: Inter, DejaVu Sans;
  font-size: 22pt;
  margin: 0.5em 0 0 0;
}

html aside {
  display: flex;
  margin: 1em 0 4em;
}

html aside address {
  font-style: normal;
  white-space: pre-line;
}

html aside address#from {
  color: var(--lighter-fg-color);
  flex: 1;
}

html aside address#to {
  text-align: right;
}

html dl {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}

html dl dt, html dl dd {
  display: inline;
  margin: 0;
}

html dl dt {
  color: var(--lighter-fg-color);
}

html dl dt::before {
  content: '';
  display: block;
}

html dl dt::after {
  content: ':';
}

html table {
  border-collapse: collapse;
  width: 100%;
}

html table th {
  border-bottom: .2mm solid var(--lighter-fg-color);
  color: var(--lighter-fg-color);
  font-size: 10pt;
  font-weight: 400;
  padding-bottom: .25cm;
  text-transform: uppercase;
}

html table td {
  padding-top: 7mm;
}

html table td:last-of-type {
  color: var(--main-fg-color);
  font-weight: bold;
  text-align: right;
}

html table th, html table td {
  text-align: left;
}

html table th:first-of-type, html table td:first-of-type {
  min-width: 50vw;
}

html table th:last-of-type, html table td:last-of-type {
  text-align: right;
}

html footer {
  background: var(--tinted-bg-color);
  border-color: var(--tinted-bg-color);
  border-style: solid;
  border-width: 0.5cm 3cm;
  bottom: 0;
  font-size: 12pt;
  margin: 0 -3cm;
  position: absolute;
  width: 18cm;
}

html footer p {
  margin-top: 1em;
}

html p {
  margin-top: 3em;
  font-size: 10pt;
}
