<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="invoice.css"  rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Factuur</title>
  </head>

  <body>
    <img src="local:static/img/djo-logo.png:image/png" id="logo">
    <h1>Factuur</h1>

    <aside>
      <address id="from">
        Stichting De Jonge Onderzoekers
        Nijverheidsweg-Noord 77
        3812 PK Amersfoort
        KvK Nr. 41188622
      </address>

      <address id="to">
        {{ title }}
        {{ member.full_name }}
      </address>
    </aside>

    <dl id="informations">
      <dt>IBAN</dt>
      <dd>NL30 ABNA 0119 7748 44</dd>
      <dt>Factuurnummer</dt>
      <dd>{{ invoicenr }}</dd>
      <dt>Datum</dt>
      <dd>{{ date }}</dd>
    </dl>

    <table>
      <thead>
      <tr>
        <th>Omschrijving</th>
        <th>Aantal</th>
        <th>Prijs</th>
        <th>Subtotaal</th>
      </tr>
      </thead>
      <tbody>
        {% for line in lines %}
        <tr>
          <td>{{ line.description }}</td>
          <td>{{ line.count }}</td>
          <td id="amount">{{ line.amount|floatformat:2 }}</td>
          <td>€ {{ line.line_total|floatformat:2 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <footer>
      <p>Wij verzoeken u om <b>vóór {{ due_date }}</b> het totaalbedrag
        van € {{ grand_total|floatformat:2 }} te voldoen op onze rekening
        onder vermelding van het factuurnummer.</p>
    </footer>
  </body>
</html>
