Django==5.0.6
django-cors-headers==4.3.1
django-oauth-toolkit==2.4.0
django-tinymce==4.0.0
django-widget-tweaks==1.5.0
django-mailer==2.3.2
gunicorn==22.0.0
mysqlclient==2.2.4
pillow==10.3.0
python-dateutil==2.9.0.post0
requests==2.32.3
requests-oauthlib==2.0.0
weasyprint==62.1
django-two-factor-auth[phonenumberslite,webauthn]==1.16.0
uvicorn==0.29.0
filetype==1.2.0
aiofiles==23.2.1
