Django==4.2
django-cors-headers==3.14.0
django-oauth-toolkit==2.2.0
django-tinymce==3.6.1
django-widget-tweaks==1.4.12
django-mailer==2.2
gunicorn==20.1.0
mysqlclient==2.1.1
Pillow==9.5.0
python-dateutil==2.8.2
requests==2.29.0
requests-oauthlib==1.3.1
weasyprint==58.1
django-two-factor-auth[phonenumberslite]==1.15.1
