Django==5.0.3
django-cors-headers==4.3.1
django-oauth-toolkit==2.3.0
django-tinymce==3.7.1
django-widget-tweaks==1.5.0
django-mailer==2.3.1
gunicorn==21.2.0
mysqlclient==2.2.4
Pillow==10.2.0
python-dateutil==2.9.0.post0
requests==2.31.0
requests-oauthlib==2.0.0
weasyprint==61.2
django-two-factor-auth[phonenumberslite,webauthn]==1.16.0
