{% extends 'registration/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

{% if validlink %}

<div class="row align-items-center">
    <div class="col col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <form method="post" enctype="multipart/form-data" class="dark form-signin">
            {% if form.errors %}
                <p>{{ form.errors }}</p>
            {% endif %}

            {% csrf_token %}

            <input type=checkbox class="toggle toggle-right" id=toggle>
            <img class="mb-4 logo-form" src="{% static 'img/djolink_VAG-transp.png' %}" width=80%>
            <h1 class="h3 mb-3 font-weight-normal">Nieuw wachtwoord instellen</h1>
            <div class="form-group">
                <label for="id_new_password1">Password</label>
                {% render_field form.new_password1|attr:"autofocus" class+='semidark darkborder text form-control' placeholder="Password" %}
            </div>
            <div class="form-group">
                <label for="id_new_password2">Password (Verificatie)</label>
                {% render_field form.new_password2|attr:"autofocus" class+='semidark darkborder text form-control' placeholder="Password" %}
            </div>
            <button class="semidark darkborder text btn btn-md btn-primary btn-block" type="submit">Wachwoord aanpassen</button>
            <br>
            <p>Wachtwoord vergeten of geen account? <a href="{% url 'password_reset' %}">Klik hier</a></p>

            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>

{% else %}

<div class="row align-items-center">
    <div class="col">
        <div class="jumbotron dark">
            <p class="legend">De password reset link die je hebt gebruikt is niet (meer) geldig. Genereer een nieuwe link door je password te resetten op <a href="{% url 'password_reset' %}">deze pagina</a></p>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
