{% extends 'registration/base.html' %}
{% load static %}

{% block content %}

<div class="row align-items-center">
    <div class="col">
        <div class="jumbotron dark">
            <h1 class="display-5">Wachtwoord reset e-mail verstuurd</h1>
            <p class="lead">We hebben je instructies gestuurd voor het instellen van je wachtwoord, als er een account bestaat met het door jou ingevoerde e-mailadres.
            <p>Als je geen e-mail ontvangt, controleer dan of je het e-mailadres hebt ingevoerd wat bij DJO bekend is en controleer je spam-map.</p>

        </div>
    </div>
</div>

{% endblock %}
