De volgende gegevens zijn aangepast:

Naam       : {{ oldlid.first_name }} {{ oldlid.last_name }} ({{ oldlid.geslacht }}) --> {{ lid.first_name }} {{ lid.last_name }} ({{ lid.geslacht }})
Geb Datum  : {{ oldlid.gebdat|date:"d-m-Y" }} --> {{ lid.gebdat|date:"d-m-Y" }}
Adres      : {{ oldlid.straat }} --> {{ lid.straat }}
Postcode   : {{ oldlid.postcode }} --> {{ lid.postcode }}
Woonplaats : {{ oldlid.woonplaats }} --> {{ lid.woonplaats }}
Telefoon   : {{ oldlid.telnr }} --> {{ lid.telnr }}
E-mail     : {{ oldlid.email_address }} --> {{ lid.email_address }}
Lijst      : {{ oldlid.speltak }} --> {{ lid.speltak }}
Mobiel     : {{ oldlid.mobiel }} --> {{ lib.mobiel }}

Mob Ouder 1	  : {{ oldlid.mobiel_ouder1 }} --> {{ lid.mobiel_ouder1 }}
Mob Ouder 2	  : {{ oldlid.mobiel_ouder2 }} --> {{ lid.mobiel_ouder2 }}
Email Ouder 1 : {{ oldlid.email_ouder1 }} --> {{ lid.email_ouder1 }}
Email Ouder 2 : {{ oldlid.email_ouder2 }} --> {{ lid.email_ouder2 }}

Opmerkingen   : {{ oldlid.opmerkingen }} --> {{ lid.opmerkingen }}

Met vriendelijke groet,
DJO Ledensite
