{% extends 'base.html' %}
{% load widget_tweaks %}

{% block navbar %}
    <ul class="nav nav-sidebar">
        {% for taktag, takname in speltakken %}

            <li {% if speltak == taktag %} class="active" {% endif %}>
                <a href="{% url 'ledenlijst' taktag %}">{{ takname }}</a>
            </li>

        {% endfor %}

    </ul>
{% endblock %}

{% block content %}

    <div class="container col-lg-offset-1 col-lg-2">

        <form method="post">
            {% csrf_token %}
            <label for="id_speltak">Lijst</label>
            {{ form.speltak|add_class:'form-control' }}
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Exporteren</button>
        </form>

    </div>

{% endblock %}