{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<form method="post">
    {% csrf_token %}

    <div class="card">
        <div class="card-header">
            {% if object %}
                Notitie wijzigen
            {% else %}
                Notitie toevoegen
            {% endif %}
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-10">
                    <h5 class="card-title">Notitie voor {{ member.full_name }} </h5>
                    {{ form.text|add_class:'form-control' }}
                    <br/>

                    <div class="form-check mb-3">
                        {{ form.done|add_class:'form-check-input' }}
                        <label for="id_done">Is afgerond</label>
                    </div>

                    {% if object %}
                        <button type="submit" class="btn btn-success">Wijzigen</button>
                    {% else %}
                        <button type="submit" class="btn btn-success">Toevoegen</button>
                    {% endif %}
                    <button onclick="javascript:history.go(-1)" type="button" class="btn btn-secondary">Annuleren</button>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock %}
