{% load staticfiles %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Ledenadministratie DJO</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">

    <style>
        .vertical-center {
          min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
          min-height: 100vh; /* These two lines are counted as one :-)       */

          display: flex;
          align-items: center;
        }
    </style>

</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 vertical-center mx-auto">
            <div class="card shadow">
                <div class="card-body">
                    <div class="card-header text-white bg-secondary mb-3">Inloggen</div>

                    <form method="post" class="form-signin">
                        {% csrf_token %}

                        <label for="username" class="sr-only">Your username</label>
                        {{ form.username|add_class:'form-control'|attr:'placeholder:Gebruikersnaam' }}

                        <label for="password" class="sr-only">Your password</label>
                        {{ form.password|add_class:'form-control'|attr:'placeholder:Wachtwoord' }}

                        <button class="btn btn-primary btn-block mt-3" type="submit">Inloggen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
