Bedankt voor uw aanmelding bij scouting St. Ansfridus.

Wij hanteren - helaas - een wachtlijst voor alle leeftijdscategorieen.
Aanmeldigen worden eerst op de wachtlijst geplaatst.
Houd er echter rekening mee dat plaatsing - naar verwachting - op zijn vroegst
pas over een jaar zal plaatsvinden en dan nog alleen als er dan plek is. Wij kunnen helaas niets garanderen.

Er is een mogelijkheid om langs de wachtlijst te komen:
Als u ons helpt aan een actieve full-time vrijwilliger die gaat meedraaien in de leiding van onze groep, kan
uw kind met voorrang worden geplaatst. Is dit het geval, stuur dan een mail naar vrijwilliger@ansfridus.nl.

De door u ingevoerde gegevens:

Naam      : {{ lid.first_name }} {{ lid.last_name }} ({{ lid.geslacht }})
Adres     : {{ lid.straat }}
Postcode  : {{ lid.postcode }}
Woonplaats: {{ lid.woonplaats }}
Leeftijd  : {{ lid.age }}
Telefoon  : {{ lid.telnr }}
E-mail    : {{ lid.email_address }}

Met vriendelijke groet,
Scouting St. Ansfridus
