{% load l10n %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ledensite DJO">

    <title>Ledenadministratie DJO</title>

    <!-- styles -->
    <link href="{% static 'css/src/bootstrap4.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" crossorigin="anonymous">

    <!-- scripts -->
    <script src="{% static 'js/src/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/src/popper.min.js' %}"></script>
    <script src="{% static 'js/src/bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/src/feather.min.js' %}"></script>
    {% block header %}
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    {% if perms.LedenAdministratie.change_member %}
        <a class="navbar-brand col-2 mr-0" href="{% url 'members' %}">Leden DJO</a>
    {% else %}
        <a class="navbar-brand col-2 mr-0" href="#">Leden DJO</a>
    {% endif %}
    {% block searchbar %}
    {% endblock %}
</nav>

<div class="container-fluid">
    <div class="row mt-2">
        <nav class="col-2 d-none d-block bg-light sidebar">
            <div class="sidebar-sticky">

                {% block navbar %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Leden</span>
                    </h6>

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a {% if filter_slug == '' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'members' %}">
                                <span data-feather="filter"></span>Alle leden
                            </a>
                        </li>

                        {% for type in types %}
                            <li class="nav-item">
                                <a {% if filter_slug == type.slug %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'members' type.slug %}">
                                    <span data-feather="filter"></span>{{ type.display_name }}
                                </a>
                            </li>
                        {% endfor %}

                        <li class="nav-item">
                            <a {% if filter_slug == 'inactive' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'members' 'inactive' %}">
                                <span data-feather="trash-2"></span>Inactieve leden
                            </a>
                        </li>

                        {% if perms.LedenAdministratie.change_member %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'lid_create' %}">
                                    <span data-feather="user-plus"></span>Nieuw Lid
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endblock %}

                {% block navbarinvoices %}
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Facturen</span>
                </h6>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'invoice_create' %}">
                            <span data-feather="plus-circle"></span>Aanmaken
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'invoice_send' %}">
                            <span data-feather="mail"></span>Versturen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'invoice_payment' %}">
                            <span data-feather="dollar-sign"></span>Betaling verwerken
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'invoice_search' %}">
                            <span data-feather="search"></span>Zoeken
                        </a>
                    </li>
                </ul>
                {% endblock %}

                {% block navbaremails %}
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                   <span>E-Mail</span>
                </h6>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'email_send' %}">
                            <span data-feather="mail"></span>Versturen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'email_log' %}">
                            <span data-feather="list"></span>Logboek
                        </a>
                    </li>
                </ul>
                {% endblock %}

                {% block navbarmisc %}
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                   <span>Overig</span>
                </h6>

                <ul class="nav flex-column">
                   <li class="nav-item">
                       <a class="nav-link" href="{% url 'todolist' %}">
                           <span data-feather="calendar"></span>Todo lijst
                       </a>
                   </li>

                   <li class="nav-item">
                       <a class="nav-link" href="{% url 'export' %}">
                           <span data-feather="file-text"></span>Excel Export</a>
                   </li>

                   <li class="nav-item">
                       <a class="nav-link" href="{% url 'settings' %}">
                           <span data-feather="settings"></span>Instellingen</a>
                   </li>
                {% endblock %}

                 </ul>
                 <ul class="nav flex-column mt-4 mb-1">
                    <li><a class="nav-link" href="{% url 'logout' %}"><span data-feather="log-out"></span>Uitloggen</a></li>
                 </ul>
            </div>
        </nav>

        <main role="main" class="col-10 ml-auto">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>

<!-- scripts used for UI -->
<script>feather.replace()</script>
{% block customscript %}{% endblock %}

</body>
</html>
