{% extends 'base.html' %}
{% load widget_tweaks %}

{% block navbar %}
    <ul class="nav nav-sidebar">
        {% for taktag, takname in lid.LIJST_CHOICES %}
            <li {% if lid.speltak == taktag %} class="active" {% endif %}>
                <a href="{% url 'ledenlijst' taktag %}">{{ takname }}</a>
            </li>

        {% endfor %}

    </ul>
{% endblock %}

{% block content %}

    {% include 'alerts.html' %}

    <form method="post">
        {% csrf_token %}

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basisgegevens
                </div>
                <div class="panel-body">

                    <div class="col-md-5">

                        <label for="id_first_name">Voornaam *</label>
                        {{ form.first_name|add_class:'form-control' }}

                        <label for="id_straat">Straat *</label>
                        {{ form.straat|add_class:'form-control' }}

                        <label for="id_woonplaats">Woonplaats *</label>
                        {{ form.woonplaats|add_class:'form-control' }}

                        <label for="id_gebdat">Geboorte datum *</label>
                        {{ form.gebdat|add_class:'form-control' }}

                        <label for="id_geslacht">Geslacht *</label>
                        {{ form.geslacht|add_class:'form-control' }}

                    </div>
                    <div class="col-md-5">
                        <label for="id_last_name">Achternaam *</label>
                        {{ form.last_name|add_class:'form-control' }}

                        <label for="id_postcode">Postcode *</label>
                        {{ form.postcode|add_class:'form-control' }}

                        <label for="id_email_address">E-mail adres *</label>
                        {{ form.email_address|add_class:'form-control' }}

                        <label for="id_speltak">Speltak</label>
                        {{ form.speltak|add_class:'form-control' }}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Contactgegevens Ouders
                </div>
                <div class="panel-body">

                    <div class="col-md-5">

                        <label for="id_mobiel_ouder1">Mobiel Ouder 1</label>
                        {{ form.mobiel_ouder1|add_class:'form-control' }}

                        <label for="id_email_ouder1">E-mail Ouder 1</label>
                        {{ form.email_ouder1|add_class:'form-control' }}

                        <label for="id_telnr">Tel. Nummer *</label>
                        {{ form.telnr|add_class:'form-control' }}

                    </div>
                    <div class="col-md-5">
                        <label for="id_mobiel_ouder2">Mobiel Ouder 2</label>
                        {{ form.mobiel_ouder2|add_class:'form-control' }}

                        <label for="id_email_ouder2">E-mail Ouder 2</label>
                        {{ form.email_ouder2|add_class:'form-control' }}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Gegevens Scouting
                </div>
                <div class="panel-body">

                    <div class="col-md-5">

                        <label for="id_scouting_nr">Scouting nummer</label>
                        {{ form.scouting_nr|add_class:'form-control' }}

                        <label for="id_telnr">T-Shirt maat</label>
                        {{ form.tshirt_maat|add_class:'form-control' }}

                        <label for="id_jub_badge">Jubileum Badges</label>
                        {{ form.jub_badge|add_class:'form-control' }}

                        <label for="id_opmerkingen">Opmerkingen</label>
                        {{ form.opmerkingen|add_class:'form-control' }}
                    </div>
                    <div class="col-md-5">
                        <label for="id_inschrijf_datum_sn">Inschrijfdatum SN</label>
                        {{ form.inschrijf_datum_sn|add_class:'form-control' }}

                        <label for="id_verzekerings_nr">Verzekerings Nr</label>
                        {{ form.verzekerings_nr|add_class:'form-control' }}

                        <label for="id_bijzonderheden">Bijzonderheden</label>
                        {{ form.bijzonderheden|add_class:'form-control' }}

                    </div>
                </div>
            </div>

        </div>

        <br>
        {% if perms.LedenAdministratie.change_lid %}
        <button type="submit" class="btn btn-success">Opslaan</button>
        {% endif %}
        <button onclick="javascript:history.go(-1)" type="button" class="btn btn-default">Annuleren</button>
    </form>


{% endblock %}
